<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic Matching Game - JS learning</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
  </head>
  <body>

<main ng-app="myApp">
  <div class="controller" ng-controller="myApp as app">

    <!-- <h1>{{title}}</h1> -->

    <div class="card-layout">
      <div class="card" ng-repeat="card in cardArray track by $index" ng-click="matchCards($index)">
        <h1 class="card-value" ng-class="{'active': isActive}">{{card}}</h1>
      </div>
    </div>

  </div>

</main>



  </body>
</html>
