.card-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 650px;
  height: auto;
  margin: 5% auto;
}

.card {
  width: 150px;
  height: 200px;
  background: lightblue;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  line-height: 200px;
  cursor: pointer;
}

.card-value {
  opacity: 0;
  transition: opacity 200ms linear;
}

.active {
  opacity: 1;
}

.card h1 {
  display: block;
  margin: 0 auto;
}

.selected {
  color: red;
  display: block;
}
